.back{
    background-image: url("../../assets/f35394ce56197822c82b2233c22fa3f70dafb8d5_1920-_1_.png");
    width: 100vw;
    height: 92.9vh;
    color: white;
    display: flex;
    align-items: center;
    padding: 15vw;
    /*filter: brightness(60%);*/
}


.text_wrapper{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 10%;
}


.text_wrapper h2 {
    font-size: 3em;
}

.dark{
    border-radius: 16px;
    background-color: rgba(0,0,0,0.6);
    width: 35vw;
    height: 35vh;
    display: flex;
    padding-left: 5%;
}